.rollex-static .rollex-digit {
  float: left;
}

.rollex-animated .rollex-digit {
  display: inline-block;
}

.rollex-animated .rollex-digit-lane-label {
  height: 18px;
}

.rollex-animated .rollex-digits {
  height: 18px;
}
